.header {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    border-bottom: 5px solid;
    border-image-slice: 1;
    border-width: 5px;
    border-image-source: linear-gradient(
        to bottom,
        #187ec2,
        #187ec2,
        #6fafecad
    );
    img {
        cursor: pointer;
    }
    .switch {
        position: relative;
        display: inline-block;
        width: 55px;
        height: 28px;
    }
    .switch input {
        display: none;
    }
    .slider {
        position: absolute;
        cursor: pointer;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: #ccc;
        -webkit-transition: 0.4s;
        transition: 0.4s;
    }
    .slider:before {
        position: absolute;
        content: '';
        height: 20px;
        width: 20px;
        left: 4px;
        bottom: 4px;
        background-color: white;
        -webkit-transition: 0.4s;
        transition: 0.4s;
    }
    input:checked + .slider {
        background-color: #187ec2a1;
    }
    input:checked + .slider:before {
        -webkit-transform: translateX(26px);
        -ms-transform: translateX(26px);
        transform: translateX(26px);
    }
    .round {
        border-radius: 34px;
    }
}

.navbar {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    gap: 20px;
    > a {
        text-decoration: none;
    }
}
